div{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center'
}
#thirdDiv{
color:white;
border: 2px purple solid;
background-color: grey;
width: 500px;
height: 600px;
padding: 50px;
/* align-content: center; */

}
h1{

color: orange;
}
ul{
list-style: none;
}
.divClass{
/* justify-content: space-around; */
}
img{
width: 400px;
height: 175px;
}
#spanId{
font-size: 18px;
margin: 50px;
}
